.card img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px 0;
  align-items: flex-start;
  gap: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card .card-top {
  position: relative;
}

.card .name {
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--Background, #fff);
}

.card .save {
  right: 12px;
  top: 12px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.card .block-text {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.card .category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.card .category p {
  flex: 1 0 0;
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .text {
  width: 100%;
}

.card .text p {
  align-self: stretch;
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .card-blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Blue, #279ef8);
  background: var(--Background, #fff);
}

.card .card-blue .name p {
  color: var(--Blue, #279ef8);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .card-blue .icone {
  width: 24px;
  height: 21.034px;
  flex-shrink: 0;
  fill: var(--Blue, #279ef8);
}

.card .card-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Red, #f82727);
  background: var(--Background, #fff);
}

.card .card-red .name p {
  color: var(--Red, #f82727);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .card-yellow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Yellow, #f8af27);
  background: var(--Background, #fff);
}

.card .card-yellow .name p {
  color: var(--Yellow, #f8af27);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .card-green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--Green, #12965d);
  background: var(--Background, #fff);
}

.card .card-green .name p {
  color: var(--Green, #12965d);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card {
  margin-bottom: 20px;
}
