.footer {
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  background: var(--Background-components, #bcbfc3);
  margin-top: 40px;
}

.footer .block-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer .all-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer nav {
  font-family: "Bubbler One";
  font-size: 20px;
  font-weight: 400;
}

.footer p {
  font-family: "Bubbler One";
  font-size: 16px;
  font-weight: 400;
}

.footer .all-apps {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer .block-copyright {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid var(--Text-secondary, #000);
}

.footer .block-copyright p {
  color: var(--Text-secondary, #000);
  font-family: "Bubbler One";
  font-size: 16px;
  font-weight: 400;
}
