.main-section .sidenavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.main-section .title-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.main-section .item1 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Blue, #279ef8);
}

.main-section .item2 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Yellow, #f8af27);
}
.main-section .item3 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Green, #12965d);
}
.main-section .item4 {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Red, #f82727);
}

.main-section .title-item p {
  color: var(--Text-main, #515050);
  font-family: "Bubbler One";
  font-size: 24px;
  font-weight: 400;
}

.main-section .all-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.main-section .all-items p {
  flex: 1 0 0;
  color: var(--Background, #fff);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-section svg {
  width: 24px;
  height: 24px;
}
