* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  flex: 1 0 0;
  color: var(--Text-main, #515050);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

html {
  --color-background: yellow;
}

html[data-theme="dark"] {
  --color-background: blue;
}

main {
  display: flex;
  padding: 0 80px;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  align-self: stretch;
}

.title {
  display: flex;
  width: 955px;
  padding-bottom: 24px;
  align-items: flex-start;
  margin-top: 40px;
}
